$font:'Fjalla One', sans-serif;
$fontGreyBlockHeaderStyle:'Lato', sans-serif;
$buttonsFont: 'Oswald', sans-serif;
$buttonFontColor:#fef6f5;
$headerTextColor: #dedede;
$headerHoverColor: #e84c3d;
$bidybackground:#282828;
$greyBlockColor:#e7e7e7;
$greyBlockFont: $fontGreyBlockHeaderStyle;
$greyBlockLincColor:#e84c3d;
$greyBlockTextColor:#888d8f;
$whiteColor:#ffffff;
$greyBlockHeaderColor:#202628;
$promoBlockLinkColor:#df4b3d;
